### mrzhqiang template
# IntelliJ project files
.idea
out
gen

### Jekyll template
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
Gemfile
Gemfile.lock

### TortoiseGit template
# Project-level settings
/.tgitconfig
