<header class="navbar navbar-expand navbar-dark sticky-top flex-column flex-md-row mr-navbar">
  <a class="navbar-brand mr-0 mr-md-4" href="/" aria-label="mrzhqiang 个人博客">
    {%- include icons/mrzhqiang.svg width="48" height="48" class="d-block" alt="Logo" -%}
  </a>

  <ul class="navbar-nav flex-row">
    {% for item in site.data.navbar %}
    <li class="nav-item">
      <a class="nav-link {% if page.url == item.link %}active{% endif %}" href="{{ item.link }}">{{
        item.name }}</a>
    </li>
    {% endfor %}
  </ul>

  <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle mr-md-2" href="#" id="mr-versions"
         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        关于
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="mr-versions">
        {% for item in site.data.about %}
        <a class="dropdown-item {% if page.url == item.link %}active{% endif %}">{{ item.name }}</a>
        {% endfor %}
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link p-2" href="{{ site.repo }}" target="_blank" rel="noopener"
         aria-label="GitHub">
        {%- include icons/github.svg class="navbar-nav-svg" -%}
      </a>
    </li>
  </ul>
</header>
