
.btn-mr-primary {
  font-weight: 600;
  color: $teal-700;
  border-color: $cyan-500;

  &:hover,
  &:active {
    color: $white;
    background-color: $cyan-500;
    border-color: $cyan-500;
  }

  &:focus {
    box-shadow: 0 0 0 3px rgba($cyan-500, .25);
  }
}

.btn-mr-secondary {
  font-weight: 600;
  color: $teal-700;
  border-color: $teal-500;

  &:hover,
  &:active {
    color: $white;
    background-color: $teal-500;
    border-color: $teal-500;
  }

  &:focus {
    box-shadow: 0 0 0 3px rgba($teal-500, .25);
  }
}
