//
// 主页样式
//
.home {
  position: relative;
  // 1rem = 16px
  // https://www.html.cn/book/css/values/length/rem.htm
  padding-top: calc(25vh);

  h1 {
    font-size: 3rem;
    font-weight: bold;
    font-family: Vivaldi, serif;
  }

  .lead {
    font-family: 方正舒体, serif;
  }

  .btn {
    padding: 0.8rem 2rem;
    font-family: 华文行楷, serif;
  }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  .home {
    padding-top: calc(20vh);
  }
  .home-image {
    display: none;
  }
  .home-content {
    max-width: 100%;
    flex: 0 0 75%;
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .home {
    padding-top: calc(15vh);
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .home {
    padding-top: calc(10vh);
  }
  .home-content {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .home {
    padding-top: calc(5vh);
  }
}
